:root {
  --circleSize: 21px;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.base-button {
  cursor: pointer;
  border-radius: 11px;
  border: solid #d83c03 3px;
  padding: 3px;
  height: min-content;
  width: max-content;
  background-color: white;
  height: 91px;
  width: 324px;
}

.base-button__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 13%;
  background: linear-gradient(to right, #b8451a, #d7683d);
  color: white;
  text-shadow: 0px 1px 2px #00000030;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 1.95rem;
  border-radius: 8px;
  height: 100%;
}

.base-button__inner__circle {
  display: block;
  height: var(--circleSize);
  width: var(--circleSize);
  border-radius: var(--circleSize);
  background-color: white;
}
